*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: #ebdbb2;
}

ul {
    list-style-type: none;
    padding: 50px 50px;
}

li {
    padding: 10px 0;
}

.links {
    background-color: #1d2021;
    border-radius: 20px;
}

.headings {
    color: #d65d0e;
    font-weight: bold;
}

.main-box {
    background-color: #131516;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.links {
    display: flex;
}

